extends layout

block content
	div#donations
		div#donation-items
			h2 All donations

			if donations.length === 0
				p No donations created yet!
			else
				ul#donation-list
					each donation in donations
						li
							a(href=`/donations/${donation.slug}`)
								img(src=donation.image, alt=donation.name)
								h3= donation.name
								p= donation.description

		a#add-btn(href='/donate', title='Add Donation')
			img(src='/images/admin/plus-btn.png', alt='add')