extends layout

block content
    div#donation
        div#donation-image
            img(src=donation.image, alt=donation.name)
        div#donation-info
            h2= donation.name
            p= donation.description

            - const date = new Date(donation.createdAt)
            - const formattedDate = date.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })
            p= `Created on ${formattedDate}`