extends layout

block content
    //- organizations list page
    div#organization-list
        h1 Organizations

        div#organizations
            if organizations.length > 0
                each organization in organizations
                    div.organization
                        div.organization-image
                            img(src=organization.image, alt=organization.name)
                        div.organization-info
                            h2= organization.name
                            p= organization.description
                            - const date = new Date(organization.createdAt)
                            - const formattedDate = date.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })
                            p= `Created on ${formattedDate}`
                            p= `Donations: ${organization.assignedDonations.length}`
                            a.btn.btn-primary(href=`/organizations/${organization.slug}`) View Details
            else
                p There are no organizations yet

        a#add-btn(href='/organizations/create', title='Add Organization')
            img(src='/images/admin/plus-btn.png', alt='add')